*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(./Asserts/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(21, 2, 2);
    font-weight: bold;
    font-family: cursive;
    font-style: italic;
  }
  
#display {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(20, 2, 68);
}
.list-group {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bolder;
}
.btn{
  border: none;
  border-radius: 50% !important;
  background: transparent;
  font-size: 20px !important;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1) !important;
  color:rgb(122, 8, 8)
}
